
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile</title>
    <style>
        /* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.profile-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.doctor-profile {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

    </style>
</head>
<body>
    <div class="profile-container">
        <h1>Patient Profile</h1>

        <div class="doctor-profile">
            <h2>Mr. {{context.FirstName}} {{context.LastName}}</h2>
            
            <p><strong>Gender:</strong> {{context.Gender}}</p>
            <p><strong>DateOfBirth:</strong> {{context.DateOfBirth}}</p>
            <p><strong>Contact Number:</strong> {{context.ContactNumber}}</p>
            <p><strong>Address:</strong> {{context.Address}}</p>
            <p><strong>Email:</strong> {{context.Email}}</p>
        </div>
    </div>
</body>
</html>


</body>
</html>